$gold: #f5d117;
$gold-hovered: #f0bd11;
$crimson: #d92027;
$blue: #2151b2;
$white: #ffffff;
$ash: #eeeeee;
$ash-darker: #dddddd;
$pearl: #fafafa;
$stone: #cccccc;
$charcoal: #767676;
$gray: #999999;
$black: #000000;
$light-gray: #a1a1a1;
$ant-error: #ff4d4f;
$dark-gray: #393939;
$ash2: #00000012;
$white-smoke: #f5f5f5;
$pippin: #ffdede;
$jade: #28a745;

:export {
  gold: $gold;
  gold-hovered: $gold-hovered;
  crimson: $crimson;
  blue: $blue;
  white: $white;
  ash: $ash;
  ash-darker: $ash-darker;
  pearl: $pearl;
  stone: $stone;
  charcoal: $charcoal;
  gray: $gray;
  black: $black;
  light-gray: $light-gray;
  ant-error: $ant-error;
  dark-gray: $dark-gray;
  ash2: $ash2;
  white-smoke: $white-smoke;
  pippin: $pippin;
  jade: $jade;
}
